# visual studio conf
/.vs

# visual studio outDir
/x64
/RobotProgramming/x64

# visual studio project file
*.sln
/RobotProgramming/*.vcxproj
/RobotProgramming/*.vcxproj.filters
/RobotProgramming/*.vcxproj.user

# CMake
/RobotProgramming/dispatcher/*.exe